{% extends "layout.html" %}
{%block title%}Watch List{%endblock%}
{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About Bad-At Life</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>This is an open source project, headed by a data heavy minded developer interested in the stock market.
                    So if you were wondering why the UI needs some help, now ya know.</p>
                    <p>To follow the project check out the github repo at <a href="http://www.github.com/politeauthority/stocky/">http://www.github.com/politeauthority/stocky/</a></p>
                    <p>If you're just looking for stock data information, you can grab an up to date SQL dump of all the stock data the system currently tracks at <a href="https://bad-at.life/static/data/stocky_data.zip">https://bad-at.life/static/data/stocky_data.zip</a></p>
                </div>
            </div>
        </div>
        <a href="https://bad-at.life/static/data/stocky_data.zip">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-download fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div><h2>~17 Mb</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="row">
        <a href="https://www.github.com/politeauthority/stocky/" target="_blank">
            <div class="offset-8 col-lg-4 col-md-6 col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-github fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>
                                    <h2>Contribute!</h2>
                                    <p>
                                        We're on github!<br>
                                        Send us a pull request
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
{%endblock%}

