{% extends "layout.html" %}
{%block title%}Portfolio{%endblock%}
{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{%if edit%}Edit{%else%}Add{%endif%} Portfolio Event</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <a href="/portfolio">Portfolio</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel">
                <form role="form" action="/portfolio/event/save" method="POST" lpformnum="1" _lpchecked="1">
                    <div class="form-group">
                        <label>Company</label>
                        <select name="company_id" class="form-control">
                            {%if edit%}
                                <option value="{{event.company_id}}">{{event.company_id}}</option>
                            {%else%}
                                <option></option>
                            {%endif%}
                            {%for company in companies %}
                                <option value="{{company.id}}">{{company.symbol}}</option>
                            {%endfor%}
                        </select>
                        <p class="help-block">The company or ETF traded.</p>
                    </div>
                    <div class="form-group">

                        <label>Portfolio</label>
                        <select name="portfolio_id" class="form-control">
                            <option></option>
                            {%for portfolio in portfolios %}
                                <option value="{{portfolio.id}}">{{portfolio.name}}</option>
                            {%endfor%}
                        </select>
                        <p class="help-block">The portfolio the event occoured on.</p>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input name="price" class="form-control" {%if edit%}value={{event.price}}{%endif%}>
                        <p class="help-block">The price for portfolio event.</p>
                    </div>
                    <div class="form-group">
                        <label>Count</label>
                        <input name="count" class="form-control" {%if edit%}value={{event.count}}{%endif%}>
                        <p class="help-block">Number of shares.</p>
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input name="date" class="form-control" {%if edit%}value={{event.date}}{%else%}value="2017-10-05"{%endif%}>
                        <p class="help-block">The date for portfolio event.</p>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <select name="type" class="form-control">
                            {%if edit%}
                                <option value="{{event.type}}">{{event.type}}</option>
                            {%endif%}
                            <option value="buy">Buy</option>
                            <option value="sell">Sell</option>
                            <option value="dividend">Dividend</option>
                        </select>
                        <p class="help-block">The type of event</p>
                    </div>
                    {%if edit%}
                        <a href="/portfolio/event/delete/{{event.id}}" class="btn btn-default btn-danger">Delete</a>
                    {%else%}
                        <button type="reset" class="btn btn-default btn-danger">Reset</button>
                    {%endif%}

                    <button type="submit" class="btn btn-default btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}

