{% extends "layout.html" %}
{%block title%}Portfolio{%endblock%}

{%block javascript%}
    <script type=text/javascript>
        $(document).ready(function() {
            var filters = [{"name": "company_id", "op": "in", "val": "{{company_qry}}"}];
            var order_by = [{"field":"date","direction":"desc"}];
            var limit = [{"field":"date","direction":"desc"}]
            data_request = $.ajax({
                url: '/api/quotes',
                data: {"q": JSON.stringify({"filters": filters, 'order_by': order_by})},
                dataType: "json",
                contentType: "application/json",
                success: function(data){
                    handle_quotes(data)
                },
                error: function() {
                   alert('An error occurred');
                }
            });

            window.chart_data = [];

            function handle_quotes(data){
                console.log(data);
            }
        });
    </script>
{%endblock%}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Portfolio</h1>
            <h3>{{portfolio.name}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-10">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Portfolio
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    {%for portfolio in portfolios%}
                        <li>
                            <a href="/portfolio/{{portfolio.id}}">{{portfolio.name}}</a>
                        </li>
                    {%endfor%}
                </ul>
            </div>
        </div>

        <div class="col-lg-6 col-sm-2">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-s dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="/portfolio/portfolio/form">Add Portfolio</a>
                    </li>
                    <li>
                        <a href="/portfolio/event/form">Add Event</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        {%if positions%}
            {# CURRENT POSITIONS #}
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Current Positions</h4>
                    </div>
                    <div class="panel-body">
                        {%if positions%}
                            <table class='table table-striped, table-responsive'>
                                <thead>
                                    <tr>
                                        <th>Company</th>
                                        <th class="text-right">Investment</th>
                                        <th class="text-right">Current Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for company_id, position in positions.iteritems()%}
                                        {%if position.num_shares %}
                                        <tr>
                                            <td>
                                            </td>
                                            <td class="text-right">$ {{position.investment|abs|fmt_currency}}</td>
                                            <td class="text-right">$ {{position.profit|abs|fmt_currency}}</td>
                                        </tr>
                                        {%endif%}
                                    {%endfor%}
                                </tbody>
                                <thead>
                                    <tr>
                                        <th>Company</th>
                                        <th class="text-right">Investment</th>
                                        <th class="text-right">Current Value</th>
                                    </tr>
                                </thead>
                            </table>
                        {%endif%}
                    </div>
                </div>
            </div>
        {%endif%}

        {%if positions%}
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Past Positions</h4>
                    </div>
                    <div class="panel-body">
                        <table class='table table-striped, table-responsive'>
                            <thead>
                                <tr>
                                    <th>Company</th>
                                    <th class="text-right">Investment</th>
                                    <th class="text-right">Profit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for company_id, position in positions.iteritems()%}
                                    {%if position.num_shares == 0 %}
                                    <tr>
                                        <td>
                                        </td>
                                        <td class="text-right">$ {{position.investment|fmt_currency}}</td>
                                        <td class="text-right">$ {{position.profit|fmt_currency}}</td>
                                    </tr>
                                    {%endif%}
                                {%endfor%}
                            </tbody>
                            <thead>
                                <tr>
                                    <th>Company</th>
                                    <th class="text-right">Investment</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right">$ {{totals.profit|fmt_currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {%endif%}
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Recent Portfolio Transactions</h2>
                </div>
                <div class="panel-body">
                    {%if portfolio.events%}
                        <table class='table table-striped, table-responsive'>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Company</th>
                                    <th>Shares</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for e in portfolio.events%}
                                    <tr class="{%if e.type == 'buy' %}danger{%else%}success{%endif%}">
                                        <td>
                                        </td>
                                        <td>{{e.count}}</td>
                                        <td>$ {{e.price}}</td>
                                        <td>$ {{e.price * e.count}}</td>
                                        <td>{{e.date|time_ago}}</td>
                                        <td><a href="/portfolio/event/form/{{e.id}}"><i class="fa fa-pencil"></i></a></td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    {%else%}
                        <div class="text-center">
                            No transactions currently logged, <a href="/portfolio/event/form">add some!</a>
                        </div>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>

</div>
{%endblock%}

