{% extends "layout.html" %}
{%block title%}User Add{%endblock%}
{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add User</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel">
                <form role="form" action="/admin/user/add" method="POST" lpformnum="1" _lpchecked="1">
                    <div class="form-group">
                        <label>User Email</label>
                        <input name="user_email" class="form-control">
                        <p class="help-block">The company's name.</p>
                    </div>
                    <div class="form-group">
                        <label>User Password</label>
                        <input name="user_password_1" class="form-control">
                        <p class="help-block">The users password.</p>
                    </div>
                    <div class="form-group">
                        <label>User Password</label>
                        <input name="user_password_2" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>User Name</label>
                        <input name="user_name" class="form-control">
                        <p class="help-block">The company's name.</p>
                    </div>
                    <button type="reset" class="btn btn-default btn-danger">Reset</button>
                    <button type="submit" class="btn btn-default btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}

